

*{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}


.p3{
	color: yellowgreen;
}

h1{
	font-size: 2rem;
}

#things_to_learn{
	text-transform: uppercase;
}

.list{
	background-color: seagreen;
}

.tools{
	border: 2px solid navy;
}

ul li{
	list-style-type: none;
}

section > img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

h4 ~ p{
	text-align: center;
}

section > ul > li{
	letter-spacing: 25px;
}